
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/Emp.js"></script>

Emp_name: <input type="text" id="txtName"/>
Email: <input type="text" id="txtEmail"/>
Address: <input type="text" id="txtAddress"/>
<input type="Submit" value="Button" onclick="SaveEmp()" />
